body {
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
  display: block;
}

ul,
li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  position: relative;
}

p,
h1,
h4,
h3,
h4,
a {
  margin: 0px;
  padding: 0px;
}

.font-ppns-1 {
  font-size: 4rem;
  line-height: 1.125;
  font-weight: 600;
  font-family: Poppins;
}

.font-ppns-2 {
  font-size: 2.25rem;
  line-height: 1.33;
  font-weight: 600;
  font-family: Poppins;
}

.font-ppns-3 {
  font-size: 1.125rem;
  line-height: 1.35;
  font-weight: 400;
  font-family: Poppins;
}

.font-ppns-4 {
  font-weight: 400;
}

.font-ppns-4,
.font-ppns-5 {
  font-size: 1.125rem;
  line-height: 1.35;
  font-weight: 600;
  font-family: Poppins;
}

.font-ppns-6 {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  font-family: Poppins;
}

.font-ppns-7 {
  font-size: 0.75rem;
  line-height: 1.35;
  font-weight: 400;
  font-family: Poppins;
}

.rbot-txt-1 {
  font-size: 2rem;
  line-height: 1.25;
  font-weight: 500;
  font-family: Roboto;
}
.rbot-txt-2,
.rbot-txt-3 {
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 400;
  font-family: Roboto;
}

.rbot-txt-2 {
  font-weight: 500;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: #b2b2b2;
}

.rbot-txt-4 {
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 500;
  font-family: Roboto;
}

.rbot-txt-5 {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  font-family: Roboto;
}

.botao {
  display: inline-block;
  text-transform: uppercase;
  color: #332200;
  padding: 16px 32px;
  background: linear-gradient(180deg, #ffbf00 0%, #f2a50c 100%);
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.33;
  max-width: max-content;
  font-family: Poppins;
}

.padd {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.ponto-amarelo {
  color: #ffbb00;
}

.fundo-branco {
  background-color: white;
}

@media (max-width: 1600px) {
}

@media (max-width: 1200px) {
  .botao {
    padding: 12px 24px;
    font-size: 1rem;
    line-height: 1.2;
  }
  .font-ppns-1 {
    font-size: 3rem;
  }
  .rbot-txt-2,
  .rbot-txt-3 {
    font-size: 1.25rem;
  }
}
@media (max-width: 1200px) {
  .rbot-txt-4 {
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  .botao {
    padding: 10px 20px;
    font-size: 0.8rem;
  }
  .font-ppns-1 {
    font-size: 2rem;
  }
  .font-ppns-2 {
    font-size: 1.75rem;
  }
  .rbot-txt-1 {
    font-size: 1.5rem;
  }
}
