.menu a {
  color: white;
  font-size: 1.125rem;
  font-family: Poppins;
  font-weight: 500;
  padding: 15px 20px;
}
header {
  background: black;
}
.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.menu {
  display: flex;
  gap: 40px;
}

@media (max-width: 1000px) {
  .menu a {
    font-size: 1rem;
    padding: 15px 15px;
  }
}

@media (max-width: 800px) {
  .cabecalho {
    flex-direction: column;
    row-gap: 60px;
  }
  .menu a {
    background-color: rgb(12, 12, 12);
    border-radius: 5px;
  }

  .menu {
    gap: 15px;
  }
}

@media (max-width: 300px) {
  .cabecalho {
    flex-direction: column;
    row-gap: 30px;
  }
  .menu {
    gap: 7.5px;
  }
  .menu a {
    font-size: 0.8rem;
  }
}
