.menu a {
  color: white;
  font-size: 1.125rem;
  font-family: Poppins;
  font-weight: 500;
  padding: 15px 20px;
}
.fundo-cabecalho {
  background: black;
}
.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  margin: 0px auto;
  padding: 30px 220px;
}

.menu {
  display: flex;
  gap: 40px;
}

@media (max-width: 1400px) {
  .cabecalho {
    padding: 32px 110px;
  }
}

@media (max-width: 1000px) {
  .menu a {
    font-size: 1rem;
    padding: 15px 10px;
  }
}

@media (max-width: 800px) {
  .cabecalho {
    flex-direction: column;
    row-gap: 30px;
  }
  .menu {
    gap: 15px;
  }
  .menu a {
    padding: 15px 10px;
  }
}

@media (max-width: 300px) {
  .cabecalho {
    flex-direction: column;
    row-gap: 30px;
  }
  .menu {
    gap: 7.5px;
  }
  .menu a {
    font-size: 0.8rem;
    padding: 15px 10px;
  }
}
