.escolha-bikes {
  padding: 60px 60px 120px 60px;
}

.escolha-bikes h2 {
  margin-bottom: 30px;
  margin-top: 30px;
}

.bikes {
  display: flex;
  gap: 40px;
  max-width: 1800px;
  margin: 0px auto;
  padding: 0px 20px;
}
.container-bikes p {
  color: var(--c6);
  padding-left: 23px;
  padding-top: 10px;
}

.bikes-info h3 {
  padding-top: 10px;
  color: var(--c2);
}

.bikes-info h3::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 12px;
  background: var(--p5);
  margin-bottom: 6px;
  margin-right: 10px;
  transition: width 0.3s;
}

.bikes a:hover h3::before {
  width: 20px;
}

.bikes img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .escolha-bikes {
    padding: 40px 0px;
  }
  .bikes-info h3::before {
    top: 9px;
  }
}

@media (max-width: 1100px) {
  .bikes {
    gap: 20px;
    padding: 0px 20px;
  }
}

@media (max-width: 800px) {
  .bikes {
    gap: 20px;
    padding: 0px 40px;
  }

  .bikes img {
    height: 400px;
  }
  .bikes {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .bikes {
    flex-direction: column;
  }
  .bikes img {
    height: 300px;
  }
}
