.seguros {
  background: var(--c3);
  color: var(--c1);
  padding-top: 60px;
  padding-bottom: 120px;
}
.container-seguros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  justify-items: stretch;
}
.container-seguros h2 {
  margin: 0px;
  grid-column: 1/-1;
  justify-self: start;
}

.prata .botao {
  color: var(--c1);
  background: var(--c4);
}

.prata .botao:hover {
  color: (--c1);
  background: #252525;
}

.ouro,
.prata {
  background-color: var(--c2);
  padding: 32px 64px;
  display: grid;
  grid-template-columns: 1fr auto;
  border-radius: 5px;
  position: relative;
}

.prata {
  margin: 40px 0;
}

.preco {
  grid-row: 1/4;
  grid-column: 2/-1;
}
.container-seguros p {
  padding-bottom: 20px;
}

.container-seguros .rbot-txt-4 {
  margin-bottom: 40px;
  position: relative;
}

.prata h3:not(.preco) {
  margin-bottom: 40px;
  color: var(--c8);
}

.ouro h3:not(.preco) {
  margin-bottom: 40px;
  color: var(--p5);
}

.preco::before {
  content: "mensais";
  position: absolute;
  font-size: 0.75rem;
  top: 70px;
  right: 65px;
  color: var(--c8);
}
.container-seguros li {
  position: relative;
}

.container-seguros li::before {
  content: "";
  position: absolute;
  font-size: 0.75rem;
  top: 6px;
  left: -20px;
  color: var(--c8);
  background: url("../../img/icones/lista.svg");
  width: 13px;
  height: 9px;
}

@media (max-width: 950px) {
  .container-seguros {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .seguros {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (max-width: 500px) {
  .ouro,
  .prata {
    display: grid;
    grid-template-columns: 1fr;
  }
  .preco {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .preco::before {
    top: 104px;
    right: 90px;
  }
  .prata .preco::before {
    top: 104px;
    right: 60px;
  }

  .container-seguros p {
    padding-bottom: 10px;
  }

  .container-seguros .rbot-txt-4 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .prata h3:not(.preco) {
    margin-bottom: 20px;
  }

  .ouro h3:not(.preco) {
    margin-bottom: 20px;
  }
}
