.rodape {
  background-color: var(--c2);
  color: var(--c1);
}

.container-rodape {
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 30px;
}

.direitos {
  grid-column: 1/-1;
}

.rodape .rbot-txt-2 {
  color: var(--c1);
  margin-bottom: 32px;
}

.contato li {
  margin-bottom: 32px;
}
.lista-link {
  margin-bottom: 20px;
}
.rodape img {
  display: inline-block;
  padding-right: 32px;
}

.contato li:not(:first-child, :last-child)::after {
  content: "";
  display: block;
  max-width: 320px;
  height: 2px;
  background: var(--c3);
  margin-top: 20px;
}

.rodape .direitos,
.links a,
.rodape li:not(:first-child) {
  color: var(--c8);
}

@media (max-width: 800px) {
  .container-rodape {
    grid-template-columns: 1fr 1fr;
  }

  .logo-rodape {
    grid-column: 1/-1;
    margin-bottom: 30px;
  }
}

@media (max-width: 800px) {
  .container-rodape {
    grid-template-columns: 1fr;
  }
}
