header {
  background: var(--c2);
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu a {
  display: inline-block;
  font-size: 1.125rem;
  font-family: Poppins;
  font-weight: 500;
  padding: 15px 0px;
  position: relative;
  color: var(--c1);
}

.menu a::after {
  display: block;
  content: "";
  width: 0px;
  height: 3px;
  margin-top: 5px;
  position: absolute;
  display: block;
  background-color: var(--c1);
  transition: 0.3s;
}

.menu a:hover::after {
  width: 100%;
}

@media (max-width: 1000px) {
  .menu a {
    font-size: 1rem;
    padding: 15px 15px;
  }
}

@media (max-width: 800px) {
  .cabecalho {
    flex-direction: column;
    row-gap: 60px;
  }
  .menu a {
    background-color: var(--c3);
    border-radius: 5px;
  }

  .menu {
    gap: 15px;
  }

  .menu a::after {
    display: none;
  }
}

@media (max-width: 350px) {
  .cabecalho {
    flex-direction: column;
    row-gap: 30px;
  }
  .menu {
    gap: 7.5px;
  }
  .menu a {
    font-size: 0.8rem;
  }
}
