ul,
li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  position: relative;
}

p,
h1,
h2,
h4,
h3,
h4,
a {
  margin: 0px;
  padding: 0px;
  color: inherit;
}

.font-ppns-1 {
  font-size: 4rem;
  line-height: 1.125;
  font-weight: 600;
  font-family: Poppins;
}

.font-ppns-2 {
  font-size: 2rem;
  line-height: 1.25;
  font-weight: 600;
  font-family: Poppins;
}

.font-ppns-3 {
  font-size: 1.125rem;
  line-height: 1.35;
  font-weight: 400;
  font-family: Poppins;
}

.font-ppns-8,
.font-ppns-4,
.font-ppns-5 {
  font-size: 1.125rem;
  line-height: 1.35;
  font-weight: 600;
  font-family: Poppins;
}

.font-ppns-4 {
  font-weight: 400;
}

.font-ppns-8 {
  font-weight: 500;
}

.font-ppns-6 {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  font-family: Poppins;
}

.font-ppns-9,
.font-ppns-7 {
  font-size: 0.75rem;
  line-height: 1.35;
  font-weight: 400;
  font-family: Poppins;
}
.font-ppns-9 {
  font-weight: 500;
}

.rbot-txt-1 {
  font-size: 2rem;
  line-height: 1.25;
  font-weight: 500;
  font-family: "Roboto";
}
.rbot-txt-2,
.rbot-txt-3 {
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 400;
  font-family: "Roboto";
}

.rbot-txt-2 {
  font-weight: 500;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: var(--c8);
}

.rbot-txt-4 {
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 500;
  font-family: "Roboto";
}

.rbot-txt-6,
.rbot-txt-5 {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  font-family: roboto;
}

.rbot-txt-6 {
  font-weight: 500;
}

@media (max-width: 1200px) {
  .font-ppns-2 {
    font-size: 1.75rem;
  }
  .font-ppns-8,
  .rbot-txt-4 {
    font-size: 1rem;
  }
  .font-ppns-1 {
    font-size: 3rem;
  }
  .rbot-txt-2,
  .rbot-txt-3 {
    font-size: 1.25rem;
  }
}
@media (max-width: 800px) {
  .botao {
    padding: 10px 20px;
    font-size: 0.8rem;
  }
  .font-ppns-1 {
    font-size: 2rem;
  }
  .font-ppns-2 {
    font-size: 1.75rem;
  }
  .rbot-txt-1 {
    font-size: 1.5rem;
  }
}
